<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Count em up...</title>
</head>
<body>
    <div class="container">
        <h1>Counted!</h1>
        <h4>{{ word }} appeared {{ result }} times </h4>
    </div>
</body>
</html>
